<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it" class="h-100">
	<head>
		<meta charset="UTF-8">
		<title th:text="'Modifica Film'"></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
	</head>
	<body>
		<h3>Modifica Film</h3>
		<div class="container">
		
			<div class="updateFilmBox pt-4 pb-2">
				<h5 class="pb-2">Correggi i campi per aggiornare il Film!</h3>
			 	<form class="form" method="POST" th:action="@{'/film/updated/' + ${film.id_Film}}"> 
					<div class="row">
		                <div class="col-8">
		                    <label for="id" th:text="'ID:'"></label>
		                    <input type="text" id="id" th:field="*{film.id_Film}" class="form-control" required="required">
		                </div>
		            </div>
            
		            <div class="row">
		                <div class="col-8">
		                    <label for="title" th:text="'Titolo:'"></label>
		                    <input type="text" id="title" th:field="*{film.title}" class="form-control" required="required">
		                </div>
		            </div>
            
		            <div class="row">
		                <div class="col-8 mt-3">
		                    <label for="image" th:text="'Immagine Locandina:'"></label>
		                    <input type="text" id="image" th:field="*{film.image}" class="form-control" required="required">
		                </div>
		            </div>
            
		            <div class="row">
		                <div class="col-8 mt-3">
		                    <label for="plot" th:text="'Trama:'"></label>
		                    <input type="text" id="plot" th:field="*{film.plot}" class="form-control" required="required">
		                </div>
		            </div>
            
					<select th:field="*{film.id_Star}">
						<option value="">Seleziona un attore</option>
						<option th:each="star : ${stars}" th:value="${star.id}" th:text="${star.star_Name+' '+star.star_Surname}"></option>
					</select>
			
					<select th:field="*{film.id_Director}">
						<option value="">Seleziona un Regista</option>
						<option th:each="director : ${directors}" th:value="${director.id}" th:text="${director.director_Name+' '+director.director_Surname}"></option>
					</select>
			
					<select th:field="*{film.id_Genre}">
						<option value="">Seleziona una Genere</option>
						<option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.genre_Name}"></option>
					</select>
			
					<select th:field="*{film.id_Similar}">
						<option value="">Seleziona un Film simile</option>
						<option th:each="similar : ${similars}" th:value="${similar.id}" th:text="${similar.title}"></option>
					</select>
			
		            <div class="col-12 mt-3">
		                <input type="submit" class="btn btn-primary large-button me-2" th:value="'AGGIORNA'">
		            </div>
        		</form>
			</div>	
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>